#compare-bugs {
    width: 100%;
    min-height: 230px;
    position: relative;
}

#comparison-area {
    margin: 0 auto;
}

#comparisonBase {
    background: url("./images/comparison-section-base.png") no-repeat;
    width: 385px;
    height: 110px;
    background-size: 100%;
    margin: 0 auto;
}
