#compare-bugs {
    width: 100%;
    min-height: 230px;
    position: relative;
    font-family: 'LatoBold', Lato, arial, sans-serif;
    line-height: 40px;
    padding-bottom: 10px;
}

#comparison-area {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
}

#comparisonBase {
    background: url("./images/comparison-section-base.png") no-repeat;
    width: 385px;
    height: 110px;
    background-size: 100%;
    margin: 0 auto;
}

.green {
    color: green;
}
.red {
    color: red;
}

.doodleA, .doodleB, .attributes {
    text-align: center;
    display: inline-block;
    span {
        display: block;
    }
}

.attributes {
    margin: 0 auto;
    width: 40%;

    .select-copy {
        padding: 1em;
        width: 80%;
    }
}
