<div ng-if="!$ctrl.doodleA.selected && !$ctrl.doodleB.selected">
    <div class="doodleA">
        <span>?</span>
    </div>

    <div class="attributes">
        <span>Vs</span>
        <span class="select-copy">Select two doodles to compare which has the skills you like most.</span>
    </div>

    <div class="doodleB">
        <span>?</span>
    </div>
</div>

<div ng-if="$ctrl.doodleA.selected" class="doodleA">
    <span class="icon-{{$ctrl.doodleA.name}}-bug"></span>
    <doodle-attributes doodle="$ctrl.doodleA" opponent="$ctrl.doodleB" attribute="'speed'"></doodle-attributes>
    <doodle-attributes doodle="$ctrl.doodleA" opponent="$ctrl.doodleB" attribute="'strength'"></doodle-attributes>
    <doodle-attributes doodle="$ctrl.doodleA" opponent="$ctrl.doodleB" attribute="'intelligence'"></doodle-attributes>
</div>

<div class="attributes" ng-if="$ctrl.doodleA.selected || $ctrl.doodleB.selected">
    <span>Vs</span>
    <span>speed</span>
    <span>strength</span>
    <span>intelligence</span>
</div>

<div ng-if="$ctrl.doodleB.selected" class="doodleB">
    <span class="icon-{{$ctrl.doodleB.name}}-bug"></span>
    <doodle-attributes doodle="$ctrl.doodleB" opponent="$ctrl.doodleA" attribute="'speed'"></doodle-attributes>
    <doodle-attributes doodle="$ctrl.doodleB" opponent="$ctrl.doodleA" attribute="'strength'"></doodle-attributes>
    <doodle-attributes doodle="$ctrl.doodleB" opponent="$ctrl.doodleA" attribute="'intelligence'"></doodle-attributes>
</div>
